// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$traveleryellow: #FDC826;
$travelerblack: #31302F;
$travelerbeige: #F8EEE1;
$travelerorange: #FBB04C;
$travelergreen: #399C89;
$travelersalmon: #FB7145;
$travelerpurple: #9E6DF2;
