<div class="row">
  <div class="col-12 col-md-6 offset-lg-3">
    <div class="bg-white rounded p-3 shadow">
      <%= simple_form_for @booking do |f| %>
        <div class="mb-3">
          <p> press button to register for <%= @excursion.name %> </p>
          <%= f.submit class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
