<div class="banner d-flex">
  <div class="container m-auto">
    <div class="cover d-flex align-items-center justify-content-center">
      <div class="text-center text-white">
        <div class="banner-container-phrases " style="height: 50px">
          <h1 class="typed-js" data-controller="typed-js"></h1>
        </div>

        <div>
          <h1>with <strong>WALKBOUT</strong></h1>
        </div>
      </div>
    </div>
    <div class="banner-container-buttons">
      <div class="discover-button">
        <%= link_to "Discover", excursions_path, class: "btn btn-discover" %>
      </div>
      <div class="sign-button">
        <%= link_to "Sign in",new_user_session_path, class: "btn btn-signin" %>
      </div>
    </div>
  </div>
</div>
