<div class="banner">
  <div class="container">
    <div class="banner-container-phrases">
      <h1 style="color:green;">Host your own tours</h1>
      <h1 style="color:salmon;">Know the city from its locals</h1>
      <h1 style="color:purple;">You're going places</h1>
    </div>

    <h1>with <strong>WALKBOUT</strong></h1>

    <div class="banner-container-buttons">
      <div class="discover-button">
        <%= link_to "Discover", excursions_path, class: "btn btn-discover" %>
      </div>
      <div class="sign-button">
        <%= link_to "Sign in",new_user_session_path, class: "btn btn-signin" %>
      </div>
    </div>
  </div>
</div>
