<div class="card-profile-user">
  <div class="user-profile">
    <div class="user-avatar">
      <img class="avatar-large dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/ssaunier" />
    </div>
    <div>
      <a href="#" class="user-avatar-update">Update photo</a>
    </div>

    <div>
      <h3 class="user-about"></h3>
      <%= current_user.first_name%> <%= current_user.last_name%>
    </div>
  </div>
</div>
