<div class="card-profile-user">
  <div class="user-profile">
    <div class="user-avatar">
      PHOTO HERE
    </div>
    <div>
      <a href="#" class="user-avatar-update">Atualizar foto</a>
    </div>

    <div class="user-separation">
      <div class="user-line"></div>
    </div>

    <div>
      <h3 class="user-about"></h3>
      <p>display info here</p>
    </div>
  </div>
</div>
