<div class="background">
  <div class="container">
    <div class="footer">
      <div class="footer-links col-md-6">
        <a href="https://github.com/joaopotes/walkabout"><i class="fab fa-github"></i></a>
      </div>
      <div class="footer-copyright col-md-6">
        ©2022 WALKABOUT. All Rights Reserved.
      </div>
    </div>
  </div>
</div>
