<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
  </div>
  <div class="footer-copyright">
    ©2022 WHATABOUT. All Rights Reserved.
  </div>
</div>
