<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <div class="navbar-logo">
      <a class="navbar-brand" href="#" >
        <%= image_tag "traveler.png", alt: "Traveler" %>
      </a>
    </div>

    <div class="navbar-title">
      <h1>WALKBOUT</h1>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <%= link_to "Login", new_user_session_path, class: "btn btn-login" %>
          </li>
          <li class="nav-item">
            <%= link_to "Join", new_user_registration_path, class: "btn btn-join" %>
          </li>
          <li class="nav-item dropdown">
            <i class="fa-light fa-user"></i>
            <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/ssaunier" />
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <%= link_to "Log out", destroy_user_session_path%>
              <a class="dropdown-item" data-turbo-method="delete" href="#">Log out</a>
            </div>
          </li>
          <!--li class="nav-item"-->
          <!--/li-->
      </ul>
    </div>
  </div>
</div>
