<div class="container">
  <h1>My Bookings</h1>
  <div class="row">
    <div class="col-md-4">
      <%= render 'shared/card_profile' %>
    </div>
    <div class="col-md-8">
      <% @bookings.each do |booking| %>
        <div class="card-excursion">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
          <div class="card-excursion-infos">
            <div>
              <h2><%= link_to booking.excursion.name, excursion_path(booking.excursion) %></h2>
              <p><%= booking.excursion.description %></p>
            </div>
            <h2 class="card-excursion-pricing">€<%= booking.excursion.price %></h2>
            <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-excursion-user avatar-bordered" />
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
