
<div class="home-container" >
  <div class="changing-phrases">
    <h2>Host your own tours</h2>
    <h2>Know the city from it's locals</h2>
    <h2>You're going places</h2>
  </div>
  <h1>with <strong>WALKBOUT</strong></h1>
  <div class="text-center">
    <div class="sign-button">
      <%= link_to "Discover", "#" %>
      <%= link_to "Sign in", "#" %>
    </div>
  </div>

  <div class="white-container">
    <div class="sign-button">
      <%= link_to "Discover", "#" %>
      <%= link_to "Sign in", "#" %>
    </div>
  </div>


</div>
