.banner {
  text-align: center;
  height: 550px;
  background-color: $travelerorange;
}

.banner h1 {
  margin: 0;
  color: $travelerblack;
  font-size: 64px;
  font-weight: medium;
}

.banner-container-phrases {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.banner-container-buttons {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  a {
    padding: 15px;
  }
}
