.background {
  background: $travelerblack;
  width: 100%;
  position: fixed;
  bottom: 0;
}
.footer {
  display: flex;
  align-items: center;
  height: 64px;
  color: $travelerbeige;
  // position: fixed;
  // bottom: 0;
}

.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: $travelerbeige;
  opacity: 0.5;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}

.footer-copyright{
  text-align: right;
  font-size: small;
}
