.container-fluid{
  padding: 0px 160px
}

.navbar-title {
  h1 {
    color: $travelerblack;
  }
}

.navbar-lewagon {
  justify-content: space-between;
  background: $travelerbeige;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-logo {
  background-color: $traveleryellow;
  width: 55px;
  height: 55px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-lewagon .navbar-brand img {
  width: 25px;
}
