.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.yellow-traveler {
  background-color: $traveleryellow;
  width: 55px;
  height: 55px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-lewagon .navbar-brand img {
  width: 25px;
}
