.navbar-title {
  display: flex;
  justify-content: center;
  h1 {
    color: $travelerblack;
  }
}

.navbar-lewagon {
  background: $travelerbeige;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  display: flex;
  justify-content: right;
}

.navbar-logo {
  display: flex;
  justify-content: left;
}

.navbar-lewagon .navbar-brand img {
  width: 25px;
}
